name: Go

on:
  pull_request:
    branches:
    - master
  push:
    branches:
    - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19.4
        check-latest: true
      id: go
    - name: Check out code
      uses: actions/checkout@v3
    - name: Build and Lint
      env:
        GO111MODULE: on
      run: |
         go build ./...
         go vet ./...
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: "Set up Go"
        uses: actions/setup-go@v3
        with:
          go-version: 1.19.4
        id: go
      - name: Check out code
        uses: actions/checkout@v3
      - name: Lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          args: --config ./.golangci.yml
  test:
    name: Test ${{ matrix.os }}
    needs: Lint
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19.4
        check-latest: true
      id: go
    - name: Check out code
      uses: actions/checkout@v3
    - name: Test
      env:
        GO111MODULE: on
      run: |
         go test ./...
  
  vulncheck:
    name: Vulncheck
    needs: Lint
    runs-on: ubuntu-latest
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v3
    - uses: actions/setup-go@v3
      with:
        go-version: 1.19.4
        check-latest: true
    - name: Get govulncheck
      run: go install golang.org/x/vuln/cmd/govulncheck@latest
      shell: bash
    - name: Run govulncheck
      run: govulncheck ./...
      shell: bash
